// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
  background-color: $ml-bg;
  color: $ml-text;
}

.navbar-laravel {
  background-color: $ml-bg;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);

  .navbar-brand,
  .nav-link {
    color: $ml-text;
  }

  .nav-link:hover,
  .nav-link:focus {
    color: $ml-primary;
  }
}
